.hidden {
    display: none !important;
}
.tab.active {
    background-color: #f0f0f0;
    border-bottom: 2px solid #007bff;
    color:#007bff;
}

.menu{
    position: absolute;
    top:100%;
    left:0;
    background-color: #fff;
    box-shadow : 0 2px 8px rgba(0,0,0,0.1);
    z-index: 10;
    list-style-type: none;
    margin:0;
    padding:0;
}
.menu > li {
    cursor:pointer;
   padding : 0.5em 1em;
}

.menu > li:hover,
.menu > li:focus {
    background-color: #eee;
}

.hidden {
    display: none;
}

.tooltip {
    background: #333;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    position: absolute;
    margin-left: 10px;
    bottom:125%;  
    left:5%;
    white-space: 'nowrap';
    z-index:20;
}
 .carousel-container {
    display: flex;
    position: relative;/**/
    align-items: center;
    justify-content: center;
    height: 220px;
    }
    .carousel-container .carousel-arrow {
        top:-10px;
        position: relative;
    }
        .carousel-container .carousel-arrow.left{
            left:-190px;
        }
        .carousel-container .carousel-arrow.right{
            right:-220px;
        }
    .carousel-container .carousel-counter{
        position: relative;
        bottom:-100px;
        left:-20px;

    }
 .carousel-image {
    position: absolute;
  opacity: 0;
  top:0;
  bottom:0;
  transition: opacity 1s ease;
  z-index: 1;
}

.carousel-image.active {
  opacity: 1;
  z-index: 2;
}
